.social_media_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.btn-social {
  align-items: center;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  font-family: helvetica;
  font-weight: normal;
  justify-content: center;
  line-height: 3;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 6px 12px;
  padding-left: 44px;
  position: relative;
  touch-action: manipulation;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 400px;
  -ms-touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.btn-social > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 15px;
  width: 75px;
  line-height: 34px;
  font-size: 1.8em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.clipboard {
  position: absolute;
  top: 1;
  right: 0;
  padding-right: 5px;
  padding-bottom: 10%;
}

/* ///// SOCIAL BUTTONS */

.btn-linkedin {
  background: #0e76a8;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-linkedin:link,
.btn-linkedin:visited {
  color: #fff;
}
.btn-linkedin:active,
.btn-linkedin:hover {
  background: #084461;
  color: #fff;
}

.btn-github {
  color: #fff;
  background-color: #444;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-github:focus,
.btn-github.focus {
  color: #fff;
  background-color: #2b2b2b;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-github:hover {
  color: #fff;
  background-color: #2b2b2b;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-github:active,
.btn-github.active,
.open > .dropdown-toggle.btn-github {
  color: #fff;
  background-color: #2b2b2b;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-github:active:hover,
.btn-github.active:hover,
.open > .dropdown-toggle.btn-github:hover,
.btn-github:active:focus,
.btn-github.active:focus,
.open > .dropdown-toggle.btn-github:focus,
.btn-github:active.focus,
.btn-github.active.focus,
.open > .dropdown-toggle.btn-github.focus {
  color: #fff;
  background-color: #191919;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-github:active,
.btn-github.active,
.open > .dropdown-toggle.btn-github {
  background-image: none;
}
.btn-github.disabled:hover,
.btn-github[disabled]:hover,
fieldset[disabled] .btn-github:hover,
.btn-github.disabled:focus,
.btn-github[disabled]:focus,
fieldset[disabled] .btn-github:focus,
.btn-github.disabled.focus,
.btn-github[disabled].focus,
fieldset[disabled] .btn-github.focus {
  background-color: #444;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-github .badge {
  color: #444;
  background-color: #fff;
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:focus,
.btn-linkedin.focus {
  color: #fff;
  background-color: #005983;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:hover {
  color: #fff;
  background-color: #005983;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
  color: #fff;
  background-color: #005983;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:active:hover,
.btn-linkedin.active:hover,
.open > .dropdown-toggle.btn-linkedin:hover,
.btn-linkedin:active:focus,
.btn-linkedin.active:focus,
.open > .dropdown-toggle.btn-linkedin:focus,
.btn-linkedin:active.focus,
.btn-linkedin.active.focus,
.open > .dropdown-toggle.btn-linkedin.focus {
  color: #fff;
  background-color: #00405f;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin {
  background-image: none;
}
.btn-linkedin.disabled:hover,
.btn-linkedin[disabled]:hover,
fieldset[disabled] .btn-linkedin:hover,
.btn-linkedin.disabled:focus,
.btn-linkedin[disabled]:focus,
fieldset[disabled] .btn-linkedin:focus,
.btn-linkedin.disabled.focus,
.btn-linkedin[disabled].focus,
fieldset[disabled] .btn-linkedin.focus {
  background-color: #007bb6;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-linkedin .badge {
  color: #007bb6;
  background-color: #fff;
}

.btn-email {
  color: #000;
  background-color: #eff7ff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-email:focus,
.btn-email.focus {
  color: #000;
  background-color: #bcddff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-email:hover {
  color: #000;
  background-color: #bcddff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-email:active,
.btn-email.active,
.open > .dropdown-toggle.btn-email {
  color: #000;
  background-color: #bcddff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-email:active:hover,
.btn-email.active:hover,
.open > .dropdown-toggle.btn-email:hover,
.btn-email:active:focus,
.btn-email.active:focus,
.open > .dropdown-toggle.btn-email:focus,
.btn-email:active.focus,
.btn-email.active.focus,
.open > .dropdown-toggle.btn-email.focus {
  color: #000;
  background-color: #98ccff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-email:active,
.btn-email.active,
.open > .dropdown-toggle.btn-email {
  background-image: none;
}
.btn-email.disabled:hover,
.btn-email[disabled]:hover,
fieldset[disabled] .btn-email:hover,
.btn-email.disabled:focus,
.btn-email[disabled]:focus,
fieldset[disabled] .btn-email:focus,
.btn-email.disabled.focus,
.btn-email[disabled].focus,
fieldset[disabled] .btn-email.focus {
  background-color: #eff7ff;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-email .badge {
  color: #eff7ff;
  background-color: #000;
}
